<div class="container">
  <div *ngIf="product" class="card" style="max-width: 500px;">
    <img class="card-img-top" src="{{ product.image }}" />

    <div class="card-body">
      <h2 class="card-title">{{ product.name | uppercase }}</h2>
      <div class="card-text"><span>ID: </span>{{ product.id }}</div>
      <div class="card-text"><span>Название: </span>{{ product.name }}</div>
      <div class="card-text"><span>Цена: </span>{{ product.price }}</div>
      <div class="card-text">
        <span>Описание: </span>{{ product.description }}
      </div>
    </div>
  </div>

  <button
    type="button"
    (click)="goBack()"
    class="btn btn-primary"
    style="margin-top: 1rem;"
  >
    Назад
  </button>
</div>
