<ul class="list-group">
  <ng-container *ngFor="let product of products">
    <li *ngIf="product.name.includes(query);" class="list-group-item">
      
        <a routerLink="/product/{{ product.id }}">
          <span>{{ product.id }}) </span>
          <span>{{ product.name }}, </span>
          <span>{{ product.price }} рублей</span>
        </a>
    </li>
  </ng-container>
</ul>